body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    background-color: lightgray;
    height: 4rem;
}

nav h3 {
    margin-left: 2rem;
}

nav a {
    position: relative;
    right: 0;
    margin: 0 1rem;
    text-decoration: none;
    color: black
}

nav a:hover {
    border-bottom: gray solid 0.2rem;
}

main {
    padding: 5rem;
}

#informacoes-destaque {
    display: flex;
    width: fit-content;
    align-items: center;
}

#informacoes-destaque img {
    height: 9rem;
}

section {
    border: black solid 0.2rem;
    padding: 2rem;
    margin: 0.5rem 0;
}

section h2 {
    margin-top: 0;
}

#conjunto-hobbies {
    display: flex;
    justify-content: space-between;
}

.hobby img{
    height: 6rem;
}

#contato h2 {
    color: red;
}

#formulario-conteudo {
    display: flex;
    align-items: center;
}

#formulario-conteudo * {
    margin: 0 1rem;
}

.input-formulario label, .input-formulario input {
    display: block;
}
